*{
font-family: 'Roboto', sans-serif;
}

body{
  background-color: #EFEFEF;
}

h1{
  font-size: 56px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ff3b3f;
}

button{
  border-radius: 0px;
  border: 0px solid white;
  padding: 3px 3px 3px 3px;
  margin-bottom: 7px;
  width: 80px;
}

.container {
  display: grid;
  width: 600px;
  padding: 20px 20px 20px 20px;
  background: #d5d5d5;
}


button, input{
  display: block;
  color: #ff3b3f;
  font-weight: bold;
}

.layout{
  display: grid;
  grid-template-columns: 100px auto;
  background-color: #CAEBF2;
  padding: 20px 5px 20px 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 8px 3px #d2d2d2;
}

.inside{
  grid-gap: 0px;
  border: 0.5px solid #d0d0d0;
}

.colored{
  background-color: black;
}
